card-deck {
    overflow: hidden;
    padding: 30px;
    background-color: aquamarine;
}


body {
    background-image: url("../images/cinema\ 1.png");
  }

#jumbotronPicture {
    background-color: black;
}

#jumbotronText {
 color: aliceblue;   
}

#time { 

    color: aliceblue;
}

#navbar {

    color: black;
}