card-deck {
    overflow: hidden;
    padding: 30px;
    background-color: aquamarine;
}


/* body {
    background-image: url("../images/cinema\ 1.png");


  } */

  body {
    background-image: url("../images/background.png");
    /* background-position: center; */
    object-fit: contain;
    background-position: left 50% bottom 90%;
    background-size: 100%;
   }



#jumbotronPicture {
    background-color: black;
}

#jumbotronText {
 color: aliceblue;   
}

#time { 

    color: aliceblue;
}

#navbar {

    color: black;
}