card-deck {
    overflow: hidden;
    padding: 30px;
    background-color: aquamarine;
}


/* body {
    background-image: url("../images/cinema\ 1.png");


  } */

  body {
    background-image: url("../images/background.png");
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
   }



#jumbotronPicture {
    background-color: black;
}

#jumbotronText {
 color: aliceblue;   
}

#time { 

    color: aliceblue;
}

#navbar {

    color: black;
}

.mybox {
    padding: 20px;
}

.card {
    margin: auto;
    padding: 30px;
}